@import "tailwindcss" source("../");
@import "@nattstack/ui/tailwind-colors";
@import "@nattstack/ui/tailwind-tokenless-10";
@import "@nattstack/ui/baseline";

@theme {
  --font-\*: initial;
  --font-body: system-ui, "Segoe UI", Roboto, sans-serif;
  --font-code: ui-monospace, Consolas, monospace;
  --font-heading: system-ui, "Segoe UI", Roboto, sans-serif;
}

body {
  @apply bg-bg-shell-outer text-14 leading-1-5 text-text-primary;
}

#root {
  @apply min-h-svh;
}
